@import "../../Global.scss";
.works{
    background-color:rgb(231, 236, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1{
        position: absolute;
        top: 15%;
        font-size: 50px;
        color: $mainColor;

        @include mobile{
            font-size: 20px;
        }
    }

    .arrow{
        font-size: 60px;
        color: white;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left{
            left: 100px
        }
        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all .7s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;


            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    width: 90%;
                    height: 180px;
                    margin: 5px 0;
                }

                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    


                    .leftContainer{
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        
                        

                        @include mobile{
                           align-items: center;
                           height: 90%;
                        }

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: lightcoral;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
        
                            .icon{
                                font-size: 25px;
                            }

                        }

                        h2{
                            font-size: 25px;
                            margin-bottom: 10px;
                            text-decoration: underline;

                            @include mobile{
                                text-align: center;
                                font-size: 15px;
                                overflow: hidden;
                            }
                        }
                        p{
                            font-size: 15px;
                            @include mobile{
                                display: none;
                            }
                        }
                        a{
                            position: absolute;
                            bottom: 0;
                            color: black;
                        }
                    }
                }

                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }


    }


}